.box {
	width: 100%;
	height: 100vh;
}
/* .tips{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: black;
	z-index: 10;
} */
.box .top {
	position: fixed;
	z-index: 5;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .2);
	padding: 0 20px;
	font-size: 16px;
	font-weight: 100;
	color: rgba(255,255,255,.6);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top .avatar{
	padding: 10px 0;
	display: flex;
	align-items: center;
	/* border: 1px solid red; */
}

.box .swiper {
	width: 100%;
	height: 100vh;
	/* overflow: hidden; */
}

.box .swiper ul {
	display: flex;
}

.swiper li{
	position: relative;
}

.swiper .content {
	margin: 0 100px;
	position: absolute;
	color: #eee;
	overflow: hidden;
}
.swiper .content h3,
.swiper .content p{
	position: relative;
}

.swiper .active{
	width: 100%;
	overflow: visible;
	background-color: #999999;
}
.swiper .active .viewmore{
	position: absolute;
	right: 170px;
	animation: move 1s ease-in-out infinite;
}


@keyframes move{
	0%{
		right:170px;
	}
	50%{
		right: 160px;
	}
	100%{
		right: 170px;
	}
}






.swiper .content button {
	background-color: rgba(255, 0, 0, .4);
	line-height: 2em;
	padding: 6px 10px;
	position: relative;
}
.swiper .active button{
	position: absolute;
	right: 200px;
	line-height: 4em;
}

.swiper .content a {
	color: #eee;
}

.swiper .content h3 {
	font-weight: normal;
	font-size: 26px;
	line-height: 2em;
	border-bottom: 1px solid #ccc;
}

.swiper .content p {
	margin: 20px 0;
	font-size: 18px;
}


.box .tabbar {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

.tabbar ul {
	padding: 10px 0;
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, .4);
}

.tabbar li {
	text-align: center;
	padding: 10px 20px;
	margin: 0 4px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, .2);
	transition: .4s;
}

.tabbar ul a {
	color: #ccc;
}

.tabbar li img {
	margin: 0 auto;
	margin-bottom: 6px;
}
