*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body::-webkit-scrollbar {
	display: none;
}

body{
	min-width: 1000px;
}

a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
input,button,textarea{
	outline: none;
	border: none;
}
body{
	-webkit-user-select: none;
}
img{
	display: block;
}

/* 最左低 */
.left-low {
	left: 0;
	top: 0;
}

/* 左高 */
.left-high {
	left: 240px;
	bottom: 140px;
}

/* 中低 */
.center-low {
	left: 440px;
	top: 0;
}

/* 中高 */
.center-high {
	left: 640px;
	bottom: 140px;
}


/* 文本位置 */

.align_center{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.align_left{
	left: 6%;
	top: 50%;
	transform: translateY(-50%);
}
.align_right{
	right: 6%;
	top: 50%;
	transform: translateY(-50%);
}

